@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .heading-main {
        @apply text-[35px] sm:text-[58px] m-0;
    }
    
    .heading-main {
        font-family: 'Gilroy';  font-weight: 600;
    }

    .heading-section {
        @apply text-[36px] tracking-wide m-0;
    }

    .heading-section {
        font-family: 'Gilroy'; font-weight: 700;
    }
    
    .heading-section-small {
        @apply text-2xl tracking-wide m-0;
    }

    .heading-section-small {
        font-weight: 600; font-family: 'Gilroy';
    }

    .heading-section-smallest {
        @apply text-xl tracking-wide m-0;
    }

    .heading-section-smallest {  
        font-weight: 600; font-family: 'Gilroy';
    }

    .p-section {
        @apply text-[#1c3143] leading-5 tracking-wide m-0 font-medium;
    }

    .p-white {
        @apply text-[#fff] text-opacity-[.80] leading-5 tracking-wide m-0 font-medium;
    }
    
    .link-hover {
        @apply hover:no-underline;
    }
    
    .link-hover:hover {
        color: inherit;
    }

    .img-anim {
        @apply hover:scale-110 transition duration-500;
    }

    .circle-light {
        @apply rounded-full p-4 bg-[#fff] bg-opacity-[0.06] inline-block;
    }

    .circle-white-bigger {
        @apply rounded-full bg-[#fff] inline-block w-[110px] h-[110px] flex items-center justify-center;
    }

    .circle-white {
        @apply rounded-full bg-[#fff] inline-block w-[65px] h-[65px] flex items-center justify-center;
    }
}