*, *::before, *::after {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    margin-right: 2px;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, #1C314E 43%,#1C314E 49%);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #1C314E 14%,#1C314E 64%);
}

html::-webkit-scrollbar-track{
    background: rgba(245, 245, 245, .88); 
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px rgba(245, 245, 245, .88);     
}

// navbar start
// .navbar-active-link.active{
    //     border: 1px solid white;
    //     border-radius: 50%;
    //     padding: 14px 30px;
    // }
    
    .uk-offcanvas-bar {
        background-color: #1c314e !important;
    }
    
    // navbar end
    
    
    @mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
        box-shadow: inset 0 0 0 $width $color;
        color: $color;
        transition: color $duration $duration/3;
        position: relative;
        
        &::before,
        &::after {
            border: 0 solid transparent;
            box-sizing: border-box;
            content: '';
            pointer-events: none;
            position: absolute;
            width: 0; height: 0;
            
            #{$vertical}: 0; 
            #{$horizontal}: 0;
        }
        
        &::before {
            $h-side: if($horizontal == 'left', 'right', 'left');
            
            border-#{$vertical}-width: $width;
            border-#{$h-side}-width: $width;
        }
        
        &::after {
            $v-side: if($vertical == 'top', 'bottom', 'top');
            
            border-#{$v-side}-width: $width;
            border-#{$horizontal}-width: $width;
        }
        
        &:hover {
            color: $hover;
            
            &::before,
            &::after {
                border-color: $hover;
                transition: border-color 0s, width $duration, height $duration;
                width: 100%;
                height: 100%;
            }
            
            &::before { transition-delay: 0s, 0s, $duration; }
            
            &::after { transition-delay: 0s, $duration, 0s; }
        }
    }
    
    .draw-border {
        @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
    }
    
    //=== Button styling, semi-ignore
    .btn {
        background: none;
        border: none;
        cursor: pointer;
        line-height: 1.5;
        font: 700 1.2rem 'Roboto Slab', sans-serif;
        padding: 1em 2em;
        letter-spacing: 0.05rem;
        
        &:focus { outline: 2px dotted #55d7dc; }
    }
    
    
    // navbar end
    
    .header-index.active {
        background-color: transparent !important;
    }
    
    .main-button-link {
        padding: 20px 58px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease-in-out;
    }
    
    .main-button-link-animation:hover {
        transform: rotate(3deg);
        transition: all 0.1s ease-in-out;
    }
    
    .main-button-link-animation p {
        transition: 0.2s;
    }
    
    .main-button-link-animation:hover p {
        transform: rotate(-3deg);
        transition: all 0.1s ease-in-out;
    }
    
    //  services section start
    .services-section {
        background-image: url('../images/main/services-background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .section-gradient::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #1C314E 0%,#1C314E 100%);
        opacity: 0.90;
        z-index: 1;
    }
    
    .service-card:hover .breath {
        animation: 1.5s ease 0s infinite normal intro-start-button-animation;
        &:hover{ 
            box-shadow: 0 0 20px #f1f1f1;
        }
    }
    //  services section end
    
    
    //  diffenence section start
    .difference-item:hover .difference-circle-light {
        animation: 1.5s ease 0s infinite normal intro-start-button-animation;
        &:hover{ 
            box-shadow: 0 0 20px #f1f1f1;
        }
    }
    
    //  difference section end
    
    // about section start 
    .wobble-vertical:hover {
        animation: hvr-wobble-vertical 0.9s ease-in-out 1 forwards;
    }
    // about section end
    
    // action section start
    .action-item:nth-child(2n) {
        transform: translateY(-50px);
    }
    // action section end
    
    // client section start
    .uk-nav-parent-icon>.uk-parent>a::after {
        display: none;
    }
    
    .uk-nav-parent-icon>.uk-parent>a {
        color: #1c3143;
        font-size: 18px;
        font-weight: 600;
    }
    
    .uk-nav-parent-icon>.uk-parent>a::before {
        content: "";
        width: 1.5em;
        height: 1.5em;
        margin-right: 20px;
        background-image: url('../images/svg/+.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    
    .uk-nav-parent-icon>.uk-parent.uk-open>a::before {
        background-image: url('../images/svg/-.svg');
    }
    
    .clients-section .uk-nav-parent-icon .uk-nav-sub li p {
        color: #1c3143 !important;
        letter-spacing: 1px;
    }
    
    .clients-section .uk-slideshow-items {
        min-height: 440px !important;
        max-height: 1000px !important;
        height: auto !important;
    }
    // clients section end

    // form section start
    .form-input::-webkit-input-placeholder {
        font-weight: 300;
        color: #fff;
        opacity: 0.24;
   }
   
   .form-input:focus::-webkit-input-placeholder {
       font-weight: 300;
       color: #fff;
       opacity: 1;
   }
   
   #inputPhoneMask {
       color: rgba(255, 255, 255, .24) !important;
       font-weight: 300;
   }
   
   #inputPhoneMask:focus {
       color: #fff !important;
   }
    // form section end
    
    
    // service page service section
    .service-slide-wrapper {
        transition: all 2s;
    }
    
    .service-slide-wrapper::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.36) 0%, rgba(0, 0, 0, 0.71) 100%);
        z-index: 0;
    }
    
    .service-button-link {
        padding: 14px 30px;
    }
    
    .service-button-link {
        padding: 14px 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease-in-out;
    }
    // service page service section
    
    
    .animatePlus {
        animation: plus 15s ease-in-out infinite forwards;
    }
    
    .plusHover:hover {
        animation: plusHover 0.6s ease-in-out infinite forwards;
    }
    
    @keyframes plus {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes plusHover {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    
    // blob animation button start
    $cyan: #fff;
    $dark: #04165D;
    $borderW: 2px;
    
    .blob-btn {
        $numOfBlobs: 4;
        z-index: 1;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        background-color: transparent;
        outline: none;
        transition: color 0.5s;
        cursor: pointer;
        border-radius:50%;
        
        &:before {
            content: "";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius:50%;
        }
        
        &:after {
            content: "";
            z-index: -2;
            position: absolute;
            left: $borderW*1.5;
            top: $borderW*1.5;
            width: 100%;
            height: 100%;
            
            transition: all 0.3s 0.2s;
            border-radius:50%;
        }
        
        &:hover {
            color: #fff;
            border-radius:50%;
            border-color: #3175D4;
            
            &:after {
                transition: all 0.3s;
                left: 0;
                top: 0;
                border-radius:50%;
            }
        }
        
        &__inner {
            z-index: -1;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius:50%;
            background: transparent;
        }
        
        // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
        &__blobs {
            position: relative;
            display: block;
            height: 120%;
            filter: url('#goo');
        }
        
        &__blob {
            position: absolute;
            top: $borderW;
            width: 100% / $numOfBlobs;
            height: 100%;
            background: #3175D4;
            border-radius: 100%;
            transform: translate3d(0,150%,0) scale(1.7);
            transition: transform 0.45s;
            
            @supports(filter: url('#goo')) {
                transform: translate3d(0,150%,0) scale(1.4);
            }
            
            @for $i from 1 through $numOfBlobs {
                &:nth-child(#{$i}) {
                    left: ($i - 1) * (100% / $numOfBlobs);
                    transition-delay: ($i - 1) * 0.08s;
                }
            }
            
            .blob-btn:hover & {
                transform: translateZ(0) scale(1.7);
                
                @supports(filter: url('#goo')) {
                    transform: translateZ(0) scale(1.7);
                }
            }
        }
        
    }
    // blob animation button end
    
    
    @keyframes intro-start-button-animation {
        0% {
            box-shadow: 0 0 0 #f1f1f122; 
        }
        50% {
            box-shadow: 0 0 20px #f1f1f122; 
        }
        100% {
            box-shadow: 0 0 0 #f1f1f122; 
        } 
    }
    // animation breath end
    
    // wobble animaton start
    @keyframes hvr-wobble-vertical {
        16.65% {
            -webkit-transform: translateY(8px);
            transform: translateY(8px);
        }
        
        33.3% {
            -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
        }
        
        49.95% {
            -webkit-transform: translateY(4px);
            transform: translateY(4px);
        }
        
        66.6% {
            -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
        }
        
        83.25% {
            -webkit-transform: translateY(1px);
            transform: translateY(1px);
        }
        
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    // wobble animatio end
    
    // bottom line animation
    .line-animation {
        position: relative;
    }
    
    .line-animation::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #fff;
        bottom: -7px;
        left: 0;
        border-radius: 10px;
    }
    
    .line-animation:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        bottom: -7px;
        left: 0%;
        border-radius: 10px;
        transition:width 0.2s;
    }
    
    .line-animation-black {
        position: relative;
    }
    
    .line-animation-black::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #1C314E;
        bottom: -7px;
        left: 0;
        border-radius: 10px;
    }
    
    .line-animation-black:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #1C314E;
        bottom: -7px;
        left: 0%;
        border-radius: 10px;
        transition:width 0.5s;
    }
    
    // line animation end
    
    .doctor-slider-next {
        bottom: 80px;
        right: 300px;
    }
    
    .doctor-slider-previous {
        bottom: 80px;
        right: 360px;
    }

    .services-item:hover .services-gradient {
        animation: appear 0.2s ease-in-out forwards;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    @keyframes appear {
        0% {
            background: linear-gradient(180deg, rgba(49, 117, 213, 0.001) 0%, #013A6311 100%);
        }
        20% {
            background: linear-gradient(180deg, rgba(49, 117, 213, 0.1) 0%, #013A6333 100%);
        }
        40% {
            background: linear-gradient(180deg, rgba(49, 117, 213, 0.10) 0%, #013A6366 100%);
        }
        60% {
            background: linear-gradient(180deg, rgba(49, 117, 213, 0.20) 0%, #013A6399 100%);
        }
        80% {
            background: linear-gradient(180deg, rgba(49, 117, 213, 0.26) 0%, #013A63cc 100%);
        }
        100% {
            background: linear-gradient(180deg, rgba(49, 117, 213, 0.32) 0%, #013A63 100%);
        }
    }
    
    .services-gradient {
       
    }
    
    @media (max-width: 1400px) {
        .main-content-text {
            padding-left: 50px !important;
        }
    }
    
    @media (max-width: 1000px) {
        .doctor-slider-next {
            bottom: 35px;
            right: 40px;
        }
        
        .doctor-slider-previous {
            bottom: 35px;
            right: 100px;
        }
        
        
    }
    
    
    // responsive design start
    @media (max-width: 640px) {
        .action-item:nth-child(2n) {
            transform: translateY(0px) !important;
        }
        
        .main-content-text {
            padding-left: 35px !important;
        }
        
        .doctor-slider-next {
            top: 50%;
            right: 20px;
            bottom: auto;
        }
        
        .doctor-slider-previous {
            top: 50%;
            left: 20px;
            bottom: auto;
        }
        
        .clients-section .uk-slideshow-items {
            min-height: 500px !important;
            max-height: 1000px !important;
            height: auto !important;
        }
    }
    // responsive design end
    
    

    .service-content-wrapper {
        display: none;
    }

    .service-content-wrapper.active {
        display: block;
    }