*,*::after,*::before {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: #fff;
}

.nav-link.active {
    border-bottom: 3px solid #7FC34D;
    padding-bottom: 45px;
}

.nav-link:hover {
    color: #fff;
    text-decoration: none;
}

/* MAIN SECTION CSS STYLES */

.main-gradient-wrapper { 
    background: linear-gradient(90deg, #11111177 0%, rgba(17, 17, 17, 0) 100%);
}
#main-section::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
    opacity: 0.52;
}

.main-bottom-content-grid {
    margin-left: 0 !important;
}

/* MAIN SECTION CSS STYLES END */

.half-circle {
    width: 94px;
    height: 47px; /* as the half of the width */
    background-color: #fff;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 10px solid #fff;
    border-bottom: 0;
}

/* responsive design start */

@media (max-width: 960px) {
    .main-content-bottom {
        bottom: -180px !important;
    }
}

@media (max-width: 640px) {
    .main-content-bottom {
        bottom: -400px !important;
    }

    .partners-section {
        margin-top: 360px !important;
    }

    .title-second {
        background-color: transparent !important;
    }
}

@media (max-width: 400px) {
    .main-content-bottom {
        bottom: -470px !important;
    }

    .partners-section {
        margin-top: 420px !important;
    }
}
/* responsive design end */