<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tailwind css JIT</title>
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/tailwind.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
</head>
<body>
  
  <section class="w-full h-[100vh] uk-section main-section uk-overflow-hidden uk-padding-remove bg-no-repeat bg-cover bg-center-top main-section" style="background-image: url('../assets/images/main-page/main-background-img.png');">

    <div id="header-container" class="z-50 uk-sticky" uk-sticky="animation: uk-animation-slide-top; sel-target: .header; cls-active: uk-navbar-sticky bg-[#fff]; cls-inactive: uk-navbar-blur z-[9]; top: 200;">     

      <header class="header z-10 relative border-b py-4" uk-scrollspy="target: .animateText; cls: uk-animation-slide-left-small;delay: 300">
        <div class="uk-container uk-container-large">
          <nav class="uk-navbar" uk-navbar>

            <div class="uk-navbar-left">
              <a href="" class="uk-navbar-item uk-logo p-0">
                <img src="../assets/images/navbar-logo.svg" alt="Navbar Logo Svg">
              </a>
            </div>

            <div class="uk-navbar-center">
              <div class="">
                <ul class="uk-flex-center uk-grid" uk-grid>
                    <li class="">
                      <a class="nav-link" href="index.html">Bosh sahifa</a>
                    </li>
                    <li class="">
                      <a class="nav-link" href="about.html">Biz haqimizda</a>
                    </li>
                    <li class="">
                      <a class="nav-link" href="products.html">Mahsulotlarimiz</a>
                    </li>
                    <li class="">
                      <a class="nav-link" href="galary.html">Galareya</a>
                    </li>
                    <li class="">
                      <a class="nav-link" href="contacts.html">Kontaktlar</a>
                    </li>
                </ul>
            </div>
            
            </div>

          </nav>
        </div>
      </header>

    </div>
  </section>

  <section class="bg-no-repeat bg-cover w-full h-[100vh] uk-padding-remove">

  </section>
  
  
  
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>

  <script src="../assets/js/index.js"></script>
</body>
</html>
