<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tailwind css JIT</title>
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="../assets/css/tailwind.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />
  <!-- custom js -->
  <script defer src="../assets/js/index.js"></script>
  <!-- font link -->
  <link rel="stylesheet" href="../assets/fonts/gilroy/stylesheet.css">
  <style>
    body {
      font-family: 'Gilroy';
    }
  </style>
</head>
<body>
  
  <!-- header section start -->
  <div id="header-container" class="z-50 uk-sticky uk-visible@m">       
    <header class="header z-10 absolute top-0 w-full border-b py-4" uk-scrollspy="target: .animateText; cls: uk-animation-slide-left-small;delay: 300" style="border-color: #ffffff55;">
      <div class="uk-container uk-container-large">
        <nav class="uk-navbar" uk-navbar>
          
          <div class="uk-navbar-left">
            <a href="" class="uk-navbar-item uk-logo p-0">
              <img src="../assets/images/svg/navbar-logo.svg" alt="Navbar Logo Svg">
            </a>
          </div>
          
          <div class="uk-navbar-center">
            <div class="">
              <ul class="uk-flex-center uk-grid" uk-grid>
                <li class="">
                  <a class="nav-link" href="index.html">Bosh sahifa</a>
                </li>
                <li class="">
                  <a class="nav-link" href="about.html">Biz haqimizda</a>
                </li>
                <li class="">
                  <a class="nav-link" href="products.html">Mahsulotlarimiz</a>
                </li>
                <li class="">
                  <a class="nav-link" href="gallery.html">Galareya</a>
                </li>
                <li class="">
                  <a class="nav-link" href="contacts.html">Kontaktlar</a>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="uk-navbar-right">
            <img class="mr-2" src="../assets/images/svg/Call.svg" alt="Navbar Call Svg">
            <a href="" class="text-[#fff] hover:text-[#fff] hover:no-underline">97 304 04 40</a>
          </div>
          
        </nav>
      </div>
    </header>
  </div>
  <!-- header section end -->
  
  <!-- main section start -->
  <section class="main-section uk-section uk-section-large  w-full bg-no-repeat bg-cover uk-background-top-center relative " style="background-image: url('../assets/images/product-page/products-back-img.png">
    
    <div class="uk-container uk-container-large pt-28 pb-44 sm:pb-32 xl:pt-20 2xl:pt-44 2xl:pb-44 relative">
      <div class="uk-grid uk-child-width-1-2@l z-10 relative" uk-grid>
        <div class="main-content uk-text-center uk-text-left@s">
          <h1 class="title-first text-[#fff] m-0 anim1 font-gilroy uk-scrollspy" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 300">
            Sifatli mahsulotlarimiz
          </h1>
          <div class="">
            <p class="uk-width-auto uk-width-3-4@s text-[#ffffffdd] m-0 mt-6 anim1 uk-scrollspy" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 500">
              It was popularised in the 1960s with the release of Letraset
              sheets containing passages, and more recently
            </p>
          </div>
          <div class="inline-block mt-10">
            <a href="" class="flex items-center nav-item text-[#fff] hover:text-[#fff] hover:no-underline anim1 uk-scrollspy group" uk-scrollspy="cls: uk-animation-slide-top-medium; delay: 800">
              Aloqaga chiqish
              <img class="ml-2 group-hover:translate-x-[10px] transition duration-300" src="../assets/images/main-page/Arrow - Right.svg" alt="Right Svg">
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!-- main section end -->

   <!-- products section start -->
<setion class="uk-section uk-overflow-hidden">
  <div class="uk-container uk-container-large">
      
      <div>
          <div class="flex items-center flex-col relative">
              <div class="section-line uk-visible@s"></div>
              <h2 class="title-second uk-visible@s font-gilroy " uk-scrollspy="cls: uk-animation-fade; delay: 300; repeat: true">
                Biz qanday <span class="text-[#0E518F]">mahsulot</span> ishlab chiqaramiz?
              </h2>
              <h2 class="title-second uk-hidden@s font-gilroy " uk-scrollspy="cls: uk-animation-fade; delay: 300; repeat: true">
                  <span class="text-[#0E518F]">Mahsulotlarimiz</span>
              </h2>
          </div>
          <div class="mx-auto w-1/2 uk-width-1-3@m" uk-scrollspy="cls: uk-animation-fade; delay: 500; repeat: true">
              <p class="section-text">
                  It was popularised in the 1960s with the release of Letraset
                  sheets containing passages, and more recently
              </p>
          </div>
      </div>
      
      
      <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-grid uk-grid-medium uk-grid-match" uk-grid>
          <div>
              <div class="uk-card flex flex-col justify-between">
                  <div class="uk-card-media-top">
                      <img class="w-full" src="../assets/images/main-page/prima-cotton-img.png" alt="png img" uk-scrollspy="cls: uk-animation-slide-left; repeat: true; delay: 300" style="animation-duration: 1s;">
                  </div>
                  <div class="">
                      <div class="uk-grid uk-grid-small uk-flex-center text-center" uk-grid>
                          <h3 class="text-[30px] font-bold text-center" style="font-family: 'Gilroy';" uk-scrollspy="cls: uk-animation-slide-left; delay: 300; repeat: true">Prima paxta</h3>
                          <div>
                              <p class="font-medium" uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">
                                  Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when
                              </p>
                          </div>
                          <div uk-scrollspy="cls: uk-animation-slide-bottom; delay: 300; repeat: true">
                              <a href="" class="uk-grid uk-grid-small hover:primary-color-text hover:no-underline font-semibold group" uk-grid>
                                  <p class="primary-color-text">
                                      To'liq malumot
                                  </p>
                                  <img class="group-hover:translate-x-[20px] transition duration-300" src="../assets/images/main-page/arrow-blue-right.svg" alt="svg img">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <div>
              <div class="uk-card flex flex-col justify-between">
                  <div class="uk-card-media-top">
                      <img class="w-full" src="../assets/images/product-page/product-towels-img.png" alt="png img" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true; delay: 100" style="animation-duration: 1s;">
                  </div>
                  <div class="">
                      <div class="uk-grid uk-grid-small uk-flex-center text-center" uk-grid>
                          <h3 class="text-[30px] font-bold text-center" style="font-family: 'Gilroy';" uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">Prima paxta</h3>
                          <div>
                              <p class="font-medium" uk-scrollspy="cls: uk-animation-slide-top; delay: 500; repeat: true">
                                  Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when
                              </p>
                          </div>
                          <div uk-scrollspy="cls: uk-animation-slide-top; delay: 800; repeat: true">
                              <a href="" class="uk-grid uk-grid-small hover:primary-color-text hover:no-underline font-semibold group" uk-grid>
                                  <p class="primary-color-text">
                                      To'liq malumot
                                  </p>
                                  <img class="group-hover:translate-x-[20px] transition duration-300" src="../assets/images/main-page/arrow-blue-right.svg" alt="svg img">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
          <div>
              <div class="uk-card flex flex-col justify-between">
                  <div class="uk-card-media-top">
                      <img class="w-full" src="../assets/images/main-page/totiqma-cloth-img.png" alt="png img" uk-scrollspy="cls: uk-animation-slide-right; repeat: true; delay: 300" style="animation-duration: 1s;">
                  </div>
                  <div class="">
                      <div class="uk-grid uk-grid-small uk-flex-center text-center" uk-grid>
                          <h3 class="text-[30px] font-bold text-center" style="font-family: 'Gilroy';" uk-scrollspy="cls: uk-animation-slide-right; delay: 300; repeat: true">Prima paxta</h3>
                          <div>
                              <p class="font-medium" uk-scrollspy="cls: uk-animation-slide-top; delay: 300; repeat: true">
                                  Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when
                              </p>
                          </div>
                          <div uk-scrollspy="cls: uk-animation-slide-bottom; delay: 300; repeat: true">
                              <a href="" class="uk-grid uk-grid-small hover:primary-color-text hover:no-underline font-semibold group" uk-grid>
                                  <p class="primary-color-text">
                                      To'liq malumot
                                  </p>
                                  <img class="group-hover:translate-x-[20px] transition duration-300" src="../assets/images/main-page/arrow-blue-right.svg" alt="svg img">
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</div>

</div>
</setion>
<!-- prpducts section end -->
  
  <!-- OUR PRODUCTS SECTION START -->
  <section class="uk-section uk-overflow-hidden">
    <div class="transition duration-700" uk-scrollspy="cls: uk-animation-slide-right; target: .partners-heading; delay: 300; repeat: true">
      <div class="flex items-center flex-col relative">
        <div class="section-line uk-visible@s"></div>
        <h2 class="uk-visible@s title-second partners-heading font-gilroy ">
          Bizning <span class="text-[#0E518F]">mahsulotlarimiz</span>
        </h2>
        <h2 class="uk-hidden@s title-second partners-heading font-gilroy ">
          Mahsulotlarimiz
        </h2>
      </div>
      <div class="mx-auto w-1/2 uk-width-1-3@m">
        <p class="section-text transition duration-700"  uk-scrollspy="cls: uk-animation-slide-left">
          It was popularised in the 1960s with the release of Letraset
          sheets containing passages, and more recently
        </p>
      </div>
    </div>
    
    
    <div class="uk-container uk-container-large pt-10">
      <div>
        <div class="uk-grid uk-grid-small uk-flex-center" uk-grid tabindex="-1" uk-slider>
          <ul class="tab uk-tab uk-overflow-auto relative uk-flex-nowrap products-our-product-tab w-full justify-center" uk-grid uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
            <li class="">
              <a href="">Prima paxta</a>
            </li>
            <li class="">
              <a href="">Махровый полотенце</a>
            </li>
            <li class="">
              <a href="">Noto‘qima mato</a>
            </li>
          </ul>
          <ul class="uk-switcher">
            <li>
              <div class="uk-grid uk-grid-medium uk-flex-between uk-flex-middle uk-child-width-1-2@m uk-child-width-1-1 uk-flex-wrap-reverse" uk-grid>
                <div>
                  <div class="uk-grid uk-grid-small uk-width-4-5@s uk-text-center uk-text-left@s uk-flex-center uk-flex-left@s" uk-grid>
                    <div>
                      <div>
                        <h2>Noto‘qima mato</h2>
                      </div> 
                    </div>
                    <div>
                      <div>
                        <p>
                          Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when Who is it aimed at? What are your customers' motivations and expectations
                        </p>
                        <p>
                          Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when Who is it aimed at? What are your customers' motivations and expectations Before you start writing, you should be clear about the purpose of your site.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <img class="w-full" src="../assets/images/main-page/totiqma-cloth-img.png" alt="png img">
                </div>
              </div>
            </li>
            <li>
              <div class="uk-grid uk-grid-medium uk-flex-between uk-flex-middle uk-child-width-1-2@m uk-child-width-1-1 uk-flex-wrap-reverse" uk-grid>
                <div>
                  <div class="uk-grid uk-grid-small uk-width-4-5@s uk-text-center uk-text-left@s uk-flex-center uk-flex-left@s" uk-grid>
                    <div>
                      <div>
                        <h2>Noto‘qima mato</h2>
                      </div> 
                    </div>
                    <div>
                      <div>
                        <p>
                          Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when Who is it aimed at? What are your customers' motivations and expectations
                        </p>
                        <p>
                          Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when Who is it aimed at? What are your customers' motivations and expectations Before you start writing, you should be clear about the purpose of your site.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <img class="w-full" src="../assets/images/main-page/totiqma-cloth-img.png" alt="png img">
                </div>
              </div>
            </li>
            <li>
              <div class="uk-grid uk-grid-medium uk-flex-between uk-flex-middle uk-child-width-1-2@m uk-child-width-1-1 uk-flex-wrap-reverse" uk-grid>
                <div>
                  <div class="uk-grid uk-grid-small uk-width-4-5@s uk-text-center uk-text-left@s uk-flex-center uk-flex-left@s" uk-grid>
                    <div>
                      <div>
                        <h2>Noto‘qima mato</h2>
                      </div> 
                    </div>
                    <div>
                      <div>
                        <p>
                          Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when Who is it aimed at? What are your customers' motivations and expectations
                        </p>
                        <p>
                          Before you start writing, you should be clear about the purpose of your site. Who is it aimed at? What are your customers' motivations and expectations when Who is it aimed at? What are your customers' motivations and expectations Before you start writing, you should be clear about the purpose of your site.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <img class="w-full" src="../assets/images/main-page/totiqma-cloth-img.png" alt="png img">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
  </section>
  <!-- OUR PRODUCTS SECTION END -->
  
  <!-- footer section start -->
<footer class="uk-section primary-color-bg">
  <div class="uk-container uk-container-large">
      
      <div class="uk-visible">
          <div class="uk-grid uk-child-width-1-1" uk-grid>
              
              <div class="uk-hidden@s">
                  <div class="">
                      <a href="">
                          <img class="mx-auto" src="../assets/images/svg/navbar-logo.svg" alt="Logo img">
                      </a>
                  </div>
              </div>
              
              <div>
                  <div class="uk-grid uk-child-width-1-1 uk-child-width-expand@s uk-flex-center uk-flex-between@s uk-flex-middle" uk-grid>
                      <div class="">
                          <ul class="uk-grid uk-flex-between@m uk-child-width-1-1 uk-child-width-auto@m uk-text-center uk-text-left@s" uk-grid>
                              <li class="uk-visible@s">
                                  <a href="" class="text-white def-hover-none flex items-center">
                                      <p class="m-0">UZ</p>
                                      <img class="ml-2" src="../assets/images/main-page/arrow-down.svg" alt="svg img">
                                  </a>
                                  <div uk-dropdown="mode: click; animation: uk-animation-slide-top-small; duration: 500" class="uk-padding-remove-bottom rounded-[10px]">
                                      <ul class="uk-flex uk-flex-middle uk-flex-center uk-padding-remove">
                                          <li>
                                              <a class="font-bold text-[#111] hover:text-[#111]" href="" style="color: #111;">
                                                  UZ
                                              </a>
                                          </li>
                                          
                                          <hr class="bg-[#111] text-[#111] h-[10px] w-[1px] opacity-[.72] mx-4">
                                          <li>                       
                                              <a href="" style="color: #111;">
                                                  РУ
                                              </a>
                                          </li>
                                          <hr class="bg-[#111] text-[#111] h-[10px] w-[1px] opacity-[.72] mx-4">
                                          <li>
                                              <a href="" style="color: #111;">
                                                  EN
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </li>
                              <li>
                                  <a href="index.html" class="text-white def-hover-none nav-item">Bosh sahifa</a>
                              </li>
                              <li>
                                  <a href="about.html" class="text-white def-hover-none nav-item">Biz haqimizda</a>
                              </li>
                          </ul>
                      </div>
                      
                      <div class="flex justify-center uk-width-auto uk-width-expand@l uk-visible@s">
                          <div class="">
                              <a href="">
                                  <img class="" src="../assets/images/svg/navbar-logo.svg" alt="Logo img" >
                              </a>
                          </div>
                      </div>
                      
                      <div class="">
                          <ul class="uk-grid uk-flex-between@m uk-text-right@s uk-text-center uk-child-width-1-1 uk-child-width-auto@m" uk-grid>
                              <li>
                                  <a href="products.html" class="text-white def-hover-none nav-item">Mahsulotlarimiz</a>
                              </li>
                              <li>
                                  <a href="gallery.html" class="text-white def-hover-none nav-item">Galareya</a>
                              </li>
                              <li>
                                  <a href="contact.html" class="text-white def-hover-none nav-item">Kontaktlar</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
              
              <div class="text-[#fff]">
                  <div class="uk-grid uk-flex-between uk-flex-middle uk-child-width-1-1 uk-child-width-1-3@s" uk-grid>
                      
                      <div class="uk-width-expand uk-hidden@s">
                          <div>
                              <h1 class="text-[34px] md:text-[40px] bg-transparent text-white font-bold text-center m-0 font-gilroy ">
                                  Tabiiylik va sifat belgisi
                              </h1>
                          </div>
                      </div>
                      
                      <div>
                          <ul class="uk-grid uk-grid-small uk-flex-column uk-text-center uk-text-left@s" uk-grid>
                              <li class="uk-visible@s">
                                  <h3 class="text-[#ffffff42] text-lg">Kontaklar</h3>
                              </li>
                              <li>
                                  <div>
                                      <a href="" class="text-white def-hover-none nav-item">zemingroup@gmail.com</a>
                                  </div>
                              </li>
                              <li>
                                  <div>
                                      <a href="" class="text-white def-hover-none nav-item">+998 97 304 44 00.com</a>
                                  </div>
                              </li>
                              <li>
                                  <div>
                                      <a href="" class="text-white def-hover-none nav-item">Zemingroup kompaniyasining</a>
                                  </div>
                              </li> 
                          </ul>
                      </div>
                      
                      <div class="uk-width-expand uk-visible@s">
                          <div>
                              <h1 class="text-[34px] md:text-[40px] bg-transparent text-white font-bold text-center font-gilroy">
                                  Tabiiylik va sifat belgisi
                              </h1>
                          </div>
                      </div>
                      
                      
                      <div class="uk-visible@s">
                          <ul class="uk-grid uk-grid-small uk-flex-column uk-text-right" uk-grid>
                              <li>
                                  <h3 class="text-[#ffffff42] text-lg">Mahsulot</h3>
                              </li>
                              <li>
                                  <div>
                                      <a href="" class="text-white def-hover-none nav-item">Prima paxta</a>
                                  </div>
                              </li>
                              <li>
                                  <div>
                                      <a href="" class="text-white def-hover-none nav-item">Махровый полотенце</a>
                                  </div>
                              </li>
                              <li>
                                  <div>
                                      <a href="" class="text-white def-hover-none nav-item">Noto‘qima mato</a>
                                  </div>
                              </li> 
                          </ul>
                      </div>
                      
                      <ul class="uk-flex uk-flex-middle uk-flex-center uk-hidden@s">
                          <li>
                              <a class="font-bold text-[#fff] hover:text-[#fff]" href="" style="color: #fff;">
                                  UZ
                              </a>
                          </li>
                          
                          <hr class="bg-[#fff] text-[#fff] h-[10px] w-[1px] opacity-[.72] mx-4">
                          <li>                       
                              <a href="" style="color: #fff;">
                                  РУ
                              </a>
                          </li>
                          <hr class="bg-[#fff] text-[#fff] h-[10px] w-[1px] opacity-[.72] mx-4">
                          <li>
                              <a href="" style="color: #fff;">
                                  EN
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</footer>

<footer class="uk-section uk-padding-remove-vertical border-t-4 primary-color-bg" style="border-color: #ffffff12;">
  <div class="uk-container uk-container-large py-10">
      <div class="uk-grid uk-flex-between uk-flex-middle" uk-grid>
          <div>
              <div>
                  <a href="" class="text-[#ffffff77] def-hover-none hover:text-[#ffffff77]">
                      <p class="m-0">© 2021 Zemingroup</p>
                  </a>
              </div>
          </div>
          <div>
              <div>
                  <a href="https://mount.uz/" class="footer-mountain-img">
                      <img class="w-[100px]" src="../assets/images/svg/Mountain-IT&DESIGN-Logo.svg" alt="Logo Mountainer IT&DESIGN">
                  </a>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- footer section end -->
    
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>
    
    <script src="../assets/js/index.js"></script>
  </body>
  </html>
  